In [1]:
import pandas as pd
headers = ['Age', 'Workclass', 'Fnlwgt', 'Education', 'Education-num', 'Marital-status', 'Occupation', 'Relationship', 'Race', 'Sex', 'Capital-gain', 'Capital-loss', 'Hours-per-week', 'Native_country', 'Salary_range']
traindata = pd.read_csv ("./DataSets/Training.csv", header=None, names=headers)
traindata.head()

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
traindata['Sex'].value_counts()

 Male      21790
 Female    10771
Name: Sex, dtype: int64

# Sex

In [3]:
traindata.groupby('Sex').Age.mean()

Sex
 Female    36.858230
 Male      39.433547
Name: Age, dtype: float64

# Sex Age

In [4]:
count_countries = traindata['Native_country'].value_counts()
count_countries

 United-States                 29170
 Mexico                          643
 ?                               583
 Philippines                     198
 Germany                         137
 Canada                          121
 Puerto-Rico                     114
 El-Salvador                     106
 India                           100
 Cuba                             95
 England                          90
 Jamaica                          81
 South                            80
 China                            75
 Italy                            73
 Dominican-Republic               70
 Vietnam                          67
 Guatemala                        64
 Japan                            62
 Poland                           60
 Columbia                         59
 Taiwan                           51
 Haiti                            44
 Iran                             43
 Portugal                         37
 Nicaragua                        34
 Peru                             31
 Greece                           29
 France                           29
 Ecuador                          28
 Ireland                          24
 Hong                             20
 Trinadad&Tobago                  19
 Cambodia                         19
 Thailand                         18
 Laos                             18
 Yugoslavia                       16
 Outlying-US(Guam-USVI-etc)       14
 Honduras                         13
 Hungary                          13
 Scotland                         12
 Holand-Netherlands                1
Name: Native_country, dtype: int64

In [5]:
Total = traindata.Native_country.count()
Total

32561

In [6]:
count_Germany = count_countries[' Germany']
count_Germany
perGer = (count_Germany/Total)*100
perGer

0.42074874850281013

In [7]:
import matplotlib.pyplot as plt
plt.hist(traindata['Education-num'])

(array([  219.,   333.,  1160.,   933.,  1608., 10501.,  8673.,  1067.,
         7078.,   989.]),
 array([ 1. ,  2.5,  4. ,  5.5,  7. ,  8.5, 10. , 11.5, 13. , 14.5, 16. ]),
 <a list of 10 Patch objects>)

In [8]:
traindata.groupby('Salary_range').Salary_range.count()

Salary_range
 <=50K    24720
 >50K      7841
Name: Salary_range, dtype: int64

In [9]:
traindata.Age.count()

32561

In [10]:
traindata.groupby('Salary_range').mean()

,Age,Fnlwgt,Education-num,Capital-gain,Capital-loss,Hours-per-week
Salary_range,,,,,,
<=50K,36.783738,190340.86517,9.595065,148.752468,53.142921,38.840210
>50K,44.249841,188005.00000,11.611657,4006.142456,195.001530,45.473026

In [11]:
traindata.groupby('Salary_range').std()

,Age,Fnlwgt,Education-num,Capital-gain,Capital-loss,Hours-per-week
Salary_range,,,,,,
<=50K,14.020088,106482.271195,2.436147,963.139307,310.755769,12.318995
>50K,10.519028,102541.775472,2.385129,14570.378951,595.487574,11.012971

In [12]:
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn import tree
from sklearn import preprocessing
from sklearn.datasets import load_wine
from IPython.display import SVG
from graphviz import Source
from IPython.display import display                               
from ipywidgets import interactive
import os
os.environ["PATH"] += os.pathsep + 'C:/Python/graphviz-2.38/release/bin/'

In [13]:
import graphviz
d = graphviz.Digraph()
d.edge('Vöila', 'World')
d

In [14]:
traindata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
Fnlwgt            32561 non-null int64
Education         32561 non-null object
Education-num     32561 non-null int64
Marital-status    32561 non-null object
Occupation        32561 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Sex               32561 non-null object
Capital-gain      32561 non-null int64
Capital-loss      32561 non-null int64
Hours-per-week    32561 non-null int64
Native_country    32561 non-null object
Salary_range      32561 non-null object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [15]:
traindata.head()
traindata

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [16]:
clean1 = {"Salary_range": {" <=50K": 0, " >50K": 1}, 
          "Sex": {" Female": 0, " Male": 1},
         "Native_country": {" United-States": 1, " Cambodia": 0, " England": 0, " Puerto-Rico": 0, " Canada": 0, " Germany": 0, " Outlying-US(Guam-USVI-etc)": 0, " India": 0, " Japan": 0, " Greece": 0, " South": 0, " China": 0," Cuba": 0, " Iran": 0, " Honduras": 0, " Philippines": 0," Italy": 0, " Poland": 0, " Jamaica": 0, " Vietnam": 0," Mexico": 0, " Portugal": 0, " Ireland": 0, " France": 0, " Dominican-Republic": 0, " Laos": 0, " Ecuador": 0, " Taiwan": 0, " Haiti": 0, " Columbia": 0, " Hungary": 0, " Guatemala": 0, " Nicaragua": 0, " Scotland": 0, " Thailand": 0, " Yugoslavia": 0, " El-Salvador": 0, " Trinadad&Tobago": 0, " Peru": 0, " Hong": 0, " Holand-Netherlands": 0, " ?": 0},
         "Race": {" White": 1, " Asian-Pac-Islander": 0, " Amer-Indian-Eskimo": 0, " Other": 0, " Black": 0}}

In [17]:
traindata.replace(clean1, inplace= True)
traindata

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country,Salary_range
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,1,1,2174,0,40,1,0
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,1,1,0,0,13,1,0
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,1,1,0,0,40,1,0
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,0,1,0,0,40,1,0
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,0,0,0,0,40,0,0
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,1,0,0,0,40,1,0
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,0,0,0,0,16,0,0
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,1,1,0,0,45,1,1
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,1,0,14084,0,50,1,1
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,1,1,5178,0,40,1,1
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,0,1,0,0,80,1,1
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,0,1,0,0,40,0,1
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,1,0,0,0,30,1,0
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,0,1,0,0,50,1,0
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,0,1,0,0,40,0,1
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,0,1,0,0,45,0,0
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,1,1,0,0,35,1,0
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,1,1,0,0,40,1,0
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,1,1,0,0,50,1,0
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,1,0,0,0,45,1,1
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,1,1,0,0,60,1,1
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,0,0,0,0,20,1,0
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,0,1,0,0,40,1,0
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,1,1,0,2042,40,1,0
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,1,0,0,0,40,1,0
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,1,1,0,0,40,1,1
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,1,1,0,0,40,1,0
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,0,1,0,0,60,0,1
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,1,1,0,0,80,1,0
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,40,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,0,0,0,0,99,1,0
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,1,1,0,0,60,1,1
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,0,1,0,0,50,0,1
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,1,0,0,0,39,1,0
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,0,1,0,0,35,1,0
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,1,0,0,0,55,1,1
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,0,1,0,0,46,1,0
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,0,0,15020,0,45,1,1
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,1,1,0,0,10,1,1
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,1,0,0,0,40,1,0
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,0,0,0,0,32,1,0
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,1,1,0,0,25,1,0
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,1,0,0,0,48,1,0
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,0,0,0,0,30,1,0
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,1,0,0,0,20,1,1
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,1,0,0,0,40,1,0
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,1,1,0,0,40,0,0
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,1,1,1086,0,60,1,0
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,1,0,0,0,40,1,0
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,50,1,0
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,0,1,0,0,40,1,0
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,1,1,0,0,45,1,0
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,0,1,0,0,11,0,0
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,1,1,0,0,40,1,1
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,1,1,0,0,40,1,0
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,1,0,0,0,38,1,0
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,1,1,0,0,40,1,1
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,1,0,0,0,40,1,0
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,1,1,0,0,20,1,0
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,1,0,15024,0,40,1,1

In [18]:
testdata = pd.read_csv ("./DataSets/Test.csv", header=None, names=headers)
testdata

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country,Salary_range
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,Black,Male,0,0,40,United-States,<=50K.
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,3103,0,32,United-States,>50K.
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,White,Female,0,0,40,United-States,<=50K.
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,10,United-States,<=50K.
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,6418,0,40,United-States,>50K.
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,White,Female,0,0,39,United-States,<=50K.
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,35,United-States,<=50K.
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3103,0,48,United-States,>50K.
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K.
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,25,United-States,<=50K.
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,30,United-States,<=50K.
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,White,Female,0,0,20,United-States,<=50K.
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,45,?,>50K.
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,47,United-States,>50K.
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,Black,Female,0,0,35,United-States,<=50K.
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,White,Female,0,0,6,United-States,<=50K.
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,43,Peru,<=50K.
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K.
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,7298,0,90,United-States,>50K.
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K.
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,Black,Male,0,0,54,United-States,<=50K.
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,35,United-States,<=50K.
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,White,Male,0,0,60,United-States,<=50K.
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,White,Male,2936,0,20,United-States,<=50K.
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,White,Male,7688,0,40,United-States,>50K.
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,White,Female,0,1669,40,United-States,<=50K.
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K.
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,1902,50,United-States,>50K.
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K.
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Female,0,0,40,United-States,<=50K.
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,<=50K.
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,White,Female,0,0,8,United-States,<=50K.
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,White,Female,0,0,45,United-States,<=50K.
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,White,Male,15024,0,55,United-States,>50K.
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K.
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,White,Male,0,0,32,United-States,<=50K.
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,White,Female,0,0,40,?,>50K.
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,White,Female,0,0,32,United-States,<=50K.
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,Black,Female,0,0,40,United-States,<=50K.
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,White,Male,0,0,36,United-States,<=50K.
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,<=50K.
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,White,Male,0,0,40,United-States,<=50K.
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,48,United-States,<=50K.
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K.
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,White,Female,0,0,40,United-States,<=50K.
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States,<=50K.
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K.
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [19]:
clean1 = {"Salary_range": {" <=50K.": 0, " >50K.": 1}, 
          "Sex": {" Female": 0, " Male": 1},
         "Native_country": {" United-States": 1, " Cambodia": 0, " England": 0, " Puerto-Rico": 0, " Canada": 0, " Germany": 0, " Outlying-US(Guam-USVI-etc)": 0, " India": 0, " Japan": 0, " Greece": 0, " South": 0, " China": 0," Cuba": 0, " Iran": 0, " Honduras": 0, " Philippines": 0," Italy": 0, " Poland": 0, " Jamaica": 0, " Vietnam": 0," Mexico": 0, " Portugal": 0, " Ireland": 0, " France": 0, " Dominican-Republic": 0, " Laos": 0, " Ecuador": 0, " Taiwan": 0, " Haiti": 0, " Columbia": 0, " Hungary": 0, " Guatemala": 0, " Nicaragua": 0, " Scotland": 0, " Thailand": 0, " Yugoslavia": 0, " El-Salvador": 0, " Trinadad&Tobago": 0, " Peru": 0, " Hong": 0, " Holand-Netherlands": 0, " ?": 0},
         "Race": {" White": 1, " Asian-Pac-Islander": 0, " Amer-Indian-Eskimo": 0, " Other": 0, " Black": 0}}
testdata.replace(clean1, inplace= True)
testdata

,Age,Workclass,Fnlwgt,Education,Education-num,Marital-status,Occupation,Relationship,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country,Salary_range
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,0,1,0,0,40,1,0
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,1,1,0,0,50,1,0
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,1,1,0,0,40,1,1
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,0,1,7688,0,40,1,1
4,18,?,103497,Some-college,10,Never-married,?,Own-child,1,0,0,0,30,1,0
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,1,1,0,0,30,1,0
6,29,?,227026,HS-grad,9,Never-married,?,Unmarried,0,1,0,0,40,1,0
7,63,Self-emp-not-inc,104626,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,1,1,3103,0,32,1,1
8,24,Private,369667,Some-college,10,Never-married,Other-service,Unmarried,1,0,0,0,40,1,0
9,55,Private,104996,7th-8th,4,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,10,1,0
10,65,Private,184454,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,1,1,6418,0,40,1,1
11,36,Federal-gov,212465,Bachelors,13,Married-civ-spouse,Adm-clerical,Husband,1,1,0,0,40,1,0
12,26,Private,82091,HS-grad,9,Never-married,Adm-clerical,Not-in-family,1,0,0,0,39,1,0
13,58,?,299831,HS-grad,9,Married-civ-spouse,?,Husband,1,1,0,0,35,1,0
14,48,Private,279724,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,1,1,3103,0,48,1,1
15,43,Private,346189,Masters,14,Married-civ-spouse,Exec-managerial,Husband,1,1,0,0,50,1,1
16,20,State-gov,444554,Some-college,10,Never-married,Other-service,Own-child,1,1,0,0,25,1,0
17,43,Private,128354,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,1,0,0,0,30,1,0
18,37,Private,60548,HS-grad,9,Widowed,Machine-op-inspct,Unmarried,1,0,0,0,20,1,0
19,40,Private,85019,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,0,1,0,0,45,0,1
20,34,Private,107914,Bachelors,13,Married-civ-spouse,Tech-support,Husband,1,1,0,0,47,1,1
21,34,Private,238588,Some-college,10,Never-married,Other-service,Own-child,0,0,0,0,35,1,0
22,72,?,132015,7th-8th,4,Divorced,?,Not-in-family,1,0,0,0,6,1,0
23,25,Private,220931,Bachelors,13,Never-married,Prof-specialty,Not-in-family,1,1,0,0,43,0,0
24,25,Private,205947,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,1,1,0,0,40,1,0
25,45,Self-emp-not-inc,432824,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,1,1,7298,0,90,1,1
26,22,Private,236427,HS-grad,9,Never-married,Adm-clerical,Own-child,1,1,0,0,20,1,0
27,23,Private,134446,HS-grad,9,Separated,Machine-op-inspct,Unmarried,0,1,0,0,54,1,0
28,54,Private,99516,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,35,1,0
29,32,Self-emp-not-inc,109282,Some-college,10,Never-married,Prof-specialty,Not-in-family,1,1,0,0,60,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16251,81,?,26711,Assoc-voc,11,Married-civ-spouse,?,Husband,1,1,2936,0,20,1,0
16252,60,Private,117909,Assoc-voc,11,Married-civ-spouse,Prof-specialty,Husband,1,1,7688,0,40,1,1
16253,39,Private,229647,Bachelors,13,Never-married,Tech-support,Not-in-family,1,0,0,1669,40,1,0
16254,38,Private,149347,Masters,14,Married-civ-spouse,Prof-specialty,Husband,1,1,0,0,50,1,1
16255,43,Local-gov,23157,Masters,14,Married-civ-spouse,Exec-managerial,Husband,1,1,0,1902,50,1,1
16256,23,Private,93977,HS-grad,9,Never-married,Machine-op-inspct,Own-child,1,1,0,0,40,1,0
16257,73,Self-emp-inc,159691,Some-college,10,Divorced,Exec-managerial,Not-in-family,1,0,0,0,40,1,0
16258,35,Private,176967,Some-college,10,Married-civ-spouse,Protective-serv,Husband,1,1,0,0,40,1,0
16259,66,Private,344436,HS-grad,9,Widowed,Sales,Other-relative,1,0,0,0,8,1,0
16260,27,Private,430340,Some-college,10,Never-married,Sales,Not-in-family,1,0,0,0,45,1,0
16261,40,Private,202168,Prof-school,15,Married-civ-spouse,Prof-specialty,Husband,1,1,15024,0,55,1,1
16262,51,Private,82720,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,40,1,0
16263,22,Private,269623,Some-college,10,Never-married,Craft-repair,Own-child,1,1,0,0,40,1,0
16264,64,Self-emp-not-inc,136405,HS-grad,9,Widowed,Farming-fishing,Not-in-family,1,1,0,0,32,1,0
16265,50,Local-gov,139347,Masters,14,Married-civ-spouse,Prof-specialty,Wife,1,0,0,0,40,0,1
16266,55,Private,224655,HS-grad,9,Separated,Priv-house-serv,Not-in-family,1,0,0,0,32,1,0
16267,38,Private,247547,Assoc-voc,11,Never-married,Adm-clerical,Unmarried,0,0,0,0,40,1,0
16268,58,Private,292710,Assoc-acdm,12,Divorced,Prof-specialty,Not-in-family,1,1,0,0,36,1,0
16269,32,Private,173449,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,1,1,0,0,40,1,0
16270,48,Private,285570,HS-grad,9,Married-civ-spouse,Adm-clerical,Husband,1,1,0,0,40,1,0
16271,61,Private,89686,HS-grad,9,Married-civ-spouse,Sales,Husband,1,1,0,0,48,1,0
16272,31,Private,440129,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,1,1,0,0,40,1,0
16273,25,Private,350977,HS-grad,9,Never-married,Other-service,Own-child,1,0,0,0,40,1,0
16274,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,1,1,0,0,40,1,0
16275,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,1,1,0,0,40,1,0
16276,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,1,0,0,0,36,1,0
16277,64,?,321403,HS-grad,9,Widowed,?,Other-relative,0,1,0,0,40,1,0
16278,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,1,1,0,0,50,1,0
16279,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,0,1,5455,0,40,1,0
16280,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,1,1,0,0,60,1,1

In [20]:
x_train = traindata.drop(['Salary_range', 'Workclass', 'Education', 'Marital-status', 'Occupation', 'Relationship'], axis=1 )
x_train

,Age,Fnlwgt,Education-num,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country
0,39,77516,13,1,1,2174,0,40,1
1,50,83311,13,1,1,0,0,13,1
2,38,215646,9,1,1,0,0,40,1
3,53,234721,7,0,1,0,0,40,1
4,28,338409,13,0,0,0,0,40,0
5,37,284582,14,1,0,0,0,40,1
6,49,160187,5,0,0,0,0,16,0
7,52,209642,9,1,1,0,0,45,1
8,31,45781,14,1,0,14084,0,50,1
9,42,159449,13,1,1,5178,0,40,1
10,37,280464,10,0,1,0,0,80,1
11,30,141297,13,0,1,0,0,40,0
12,23,122272,13,1,0,0,0,30,1
13,32,205019,12,0,1,0,0,50,1
14,40,121772,11,0,1,0,0,40,0
15,34,245487,4,0,1,0,0,45,0
16,25,176756,9,1,1,0,0,35,1
17,32,186824,9,1,1,0,0,40,1
18,38,28887,7,1,1,0,0,50,1
19,43,292175,14,1,0,0,0,45,1
20,40,193524,16,1,1,0,0,60,1
21,54,302146,9,0,0,0,0,20,1
22,35,76845,5,0,1,0,0,40,1
23,43,117037,7,1,1,0,2042,40,1
24,59,109015,9,1,0,0,0,40,1
25,56,216851,13,1,1,0,0,40,1
26,19,168294,9,1,1,0,0,40,1
27,54,180211,10,0,1,0,0,60,0
28,39,367260,9,1,1,0,0,80,1
29,49,193366,9,1,1,0,0,40,1
...,...,...,...,...,...,...,...,...,...
32531,30,33811,13,0,0,0,0,99,1
32532,34,204461,16,1,1,0,0,60,1
32533,54,337992,13,0,1,0,0,50,0
32534,37,179137,10,1,0,0,0,39,1
32535,22,325033,8,0,1,0,0,35,1
32536,34,160216,13,1,0,0,0,55,1
32537,30,345898,9,0,1,0,0,46,1
32538,38,139180,13,0,0,15020,0,45,1
32539,71,287372,16,1,1,0,0,10,1
32540,45,252208,9,1,0,0,0,40,1
32541,41,202822,9,0,0,0,0,32,1
32542,72,129912,9,1,1,0,0,25,1
32543,45,119199,12,1,0,0,0,48,1
32544,31,199655,14,0,0,0,0,30,1
32545,39,111499,12,1,0,0,0,20,1
32546,37,198216,12,1,0,0,0,40,1
32547,43,260761,9,1,1,0,0,40,0
32548,65,99359,15,1,1,1086,0,60,1
32549,43,255835,10,1,0,0,0,40,1
32550,43,27242,10,1,1,0,0,50,1
32551,32,34066,6,0,1,0,0,40,1
32552,43,84661,11,1,1,0,0,45,1
32553,32,116138,14,0,1,0,0,11,0
32554,53,321865,14,1,1,0,0,40,1
32555,22,310152,10,1,1,0,0,40,1
32556,27,257302,12,1,0,0,0,38,1
32557,40,154374,9,1,1,0,0,40,1
32558,58,151910,9,1,0,0,0,40,1
32559,22,201490,9,1,1,0,0,20,1
32560,52,287927,9,1,0,15024,0,40,1

In [21]:
y_train = traindata['Salary_range']
y_train

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        1
8        1
9        1
10       1
11       1
12       0
13       0
14       1
15       0
16       0
17       0
18       0
19       1
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       1
28       0
29       0
        ..
32531    0
32532    1
32533    1
32534    0
32535    0
32536    1
32537    0
32538    1
32539    1
32540    0
32541    0
32542    0
32543    0
32544    0
32545    1
32546    0
32547    0
32548    0
32549    0
32550    0
32551    0
32552    0
32553    0
32554    1
32555    0
32556    0
32557    1
32558    0
32559    0
32560    1
Name: Salary_range, Length: 32561, dtype: int64

In [22]:
x_test = testdata.drop(['Salary_range', 'Workclass', 'Education', 'Marital-status', 'Occupation', 'Relationship'], axis=1 )
x_test

,Age,Fnlwgt,Education-num,Race,Sex,Capital-gain,Capital-loss,Hours-per-week,Native_country
0,25,226802,7,0,1,0,0,40,1
1,38,89814,9,1,1,0,0,50,1
2,28,336951,12,1,1,0,0,40,1
3,44,160323,10,0,1,7688,0,40,1
4,18,103497,10,1,0,0,0,30,1
5,34,198693,6,1,1,0,0,30,1
6,29,227026,9,0,1,0,0,40,1
7,63,104626,15,1,1,3103,0,32,1
8,24,369667,10,1,0,0,0,40,1
9,55,104996,4,1,1,0,0,10,1
10,65,184454,9,1,1,6418,0,40,1
11,36,212465,13,1,1,0,0,40,1
12,26,82091,9,1,0,0,0,39,1
13,58,299831,9,1,1,0,0,35,1
14,48,279724,9,1,1,3103,0,48,1
15,43,346189,14,1,1,0,0,50,1
16,20,444554,10,1,1,0,0,25,1
17,43,128354,9,1,0,0,0,30,1
18,37,60548,9,1,0,0,0,20,1
19,40,85019,16,0,1,0,0,45,0
20,34,107914,13,1,1,0,0,47,1
21,34,238588,10,0,0,0,0,35,1
22,72,132015,4,1,0,0,0,6,1
23,25,220931,13,1,1,0,0,43,0
24,25,205947,13,1,1,0,0,40,1
25,45,432824,9,1,1,7298,0,90,1
26,22,236427,9,1,1,0,0,20,1
27,23,134446,9,0,1,0,0,54,1
28,54,99516,9,1,1,0,0,35,1
29,32,109282,10,1,1,0,0,60,1
...,...,...,...,...,...,...,...,...,...
16251,81,26711,11,1,1,2936,0,20,1
16252,60,117909,11,1,1,7688,0,40,1
16253,39,229647,13,1,0,0,1669,40,1
16254,38,149347,14,1,1,0,0,50,1
16255,43,23157,14,1,1,0,1902,50,1
16256,23,93977,9,1,1,0,0,40,1
16257,73,159691,10,1,0,0,0,40,1
16258,35,176967,10,1,1,0,0,40,1
16259,66,344436,9,1,0,0,0,8,1
16260,27,430340,10,1,0,0,0,45,1
16261,40,202168,15,1,1,15024,0,55,1
16262,51,82720,9,1,1,0,0,40,1
16263,22,269623,10,1,1,0,0,40,1
16264,64,136405,9,1,1,0,0,32,1
16265,50,139347,14,1,0,0,0,40,0
16266,55,224655,9,1,0,0,0,32,1
16267,38,247547,11,0,0,0,0,40,1
16268,58,292710,12,1,1,0,0,36,1
16269,32,173449,9,1,1,0,0,40,1
16270,48,285570,9,1,1,0,0,40,1
16271,61,89686,9,1,1,0,0,48,1
16272,31,440129,9,1,1,0,0,40,1
16273,25,350977,9,1,0,0,0,40,1
16274,48,349230,14,1,1,0,0,40,1
16275,33,245211,13,1,1,0,0,40,1
16276,39,215419,13,1,0,0,0,36,1
16277,64,321403,9,0,1,0,0,40,1
16278,38,374983,13,1,1,0,0,50,1
16279,44,83891,13,0,1,5455,0,40,1
16280,35,182148,13,1,1,0,0,60,1

In [23]:
y_test = testdata['Salary_range']
y_test

0        0
1        0
2        1
3        1
4        0
5        0
6        0
7        1
8        0
9        0
10       1
11       0
12       0
13       0
14       1
15       1
16       0
17       0
18       0
19       1
20       1
21       0
22       0
23       0
24       0
25       1
26       0
27       0
28       0
29       0
        ..
16251    0
16252    1
16253    0
16254    1
16255    1
16256    0
16257    0
16258    0
16259    0
16260    0
16261    1
16262    0
16263    0
16264    0
16265    1
16266    0
16267    0
16268    0
16269    0
16270    0
16271    0
16272    0
16273    0
16274    0
16275    0
16276    0
16277    0
16278    0
16279    0
16280    1
Name: Salary_range, Length: 16281, dtype: int64

In [24]:
labels = ['Age', 'Fnlwgt', 'Education-num', 'Race', 'Sex', 'Capital-gain', 'Capital-loss', 'Hours-per-week', 'Native_country']
labels

['Age',
 'Fnlwgt',
 'Education-num',
 'Race',
 'Sex',
 'Capital-gain',
 'Capital-loss',
 'Hours-per-week',
 'Native_country']

In [25]:
estimator = DecisionTreeClassifier()
estimator.fit(x_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [ ]:
graph = Source(tree.export_graphviz(estimator, out_file=None
   , feature_names=labels, class_names=['0', '1'] 
   , filled = True))
display(SVG(graph.pipe(format='svg')))

In [ ]:
y_pred = estimator.predict(x_test)

In [ ]:
from sklearn import metrics
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
estimator1 = DecisionTreeClassifier(criterion = "entropy")
estimator1.fit(x_train, y_train)

In [ ]:
graph1 = Source(tree.export_graphviz(estimator1, out_file=None
   , feature_names=labels, class_names=['0', '1'] 
   , filled = True))
display(SVG(graph1.pipe(format='svg')))

In [ ]:
y_pred = estimator1.predict(x_test)
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
preddata = pd.read_csv ("./DataSets/prediction.csv" )
preddata

In [ ]:
preddata.replace(clean1, inplace= True)
preddata

In [ ]:
x_pred = preddata.drop(['Workclass', 'Education', 'Marital-status', 'Occupation', 'Relationship'], axis=1 )
x_pred

In [ ]:
y1_pred = estimator.predict(x_pred)
y1_pred

In [ ]:
y2_pred = estimator1.predict(x_pred)
y2_pred